.red {
    color:red;
}

.conn1 {
    color:rgb(255, 0, 255);
}

.conn2 {
    color:rgb(237, 125, 49);
}

.conn3 {
    color:rgb(112, 48, 160);
}

.target,.def
{
    color:#4472c4;
    font-weight:bold
}

.emp {
  color: rgb(185, 65, 68);
  font-style: italic;
  text-decoration: underline;
}

.bemp {
  color: rgb(185, 65, 68);
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}

.exdef {
  color: rgb(150, 123, 49);
  font-weight: bold;
}

.ititle {
  color: rgb(25, 112, 48);
  font-weight: bold;
  text-decoration: underline;
}

.theorem-highlight {
  background-color: rgb(255, 229, 153);
}

.result-highlight {
  background-color: rgb(189, 214, 238);
}

.fact-highlight {
  background-color: rgb(255, 255, 204);
}

.emperical-highlight {
  background-color: rgb(253, 240, 207);
}

.comment-highlight {
  background-color: rgb(204, 255, 204);
}

.uline {
  text-decoration: underline;
}

.ibold {
  font-style: italic;
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
}
