  .eqno {
    margin-left: 5px;
    float: right;
}
.math .headerlink {
    display: none;
    visibility: hidden;
}
.math:hover .headerlink {
    display: inline-block;
    visibility: visible;
    margin-right: -0.7em;
}
.wy-nav-content {
    max-width: 1300px !important;
}

.section {
      text-align: justify
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 10px;
    max-width: 100%;
    overflow: visible;
}
/* .p
{
  margin: 4;
  padding: 0;
} */
